<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap" rel="stylesheet">
    <title>BestOrder - Task Management</title>
</head>
<body>
    {% block nav %}
    <ul class="navbar">
        
        <li><img src="/static/logo.png" class="logo"></li>
        <li>
            <div class="menu-select">    
                <form class="menu" style="width:100%" action="/show" method="POST">
                <select style="padding-top: 7px; padding-bottom: 5px;" class="select-css" name="list_select" onchange="this.form.submit()">
                    <option selected>Select List</option>
                    {% for list in list_options %}
                    <option value="{{ list.id }}">{{ list.name }} </option>
                    {% endfor %}
                    <option>All Lists</option>
                </select>
                <!-- <a href="/newlist" title="Add New List"><button class="card-btn" style="height: 100%; margin: 0 0 0 10px;"><span>+</span></button></a> -->
                <input type="button" class="card-btn" onclick="location.href='/newlist';" value="+" />
            </div>
        <div class="menu">
        <input type="radio" name="view" value="priority" checked>Priority View
        <input type="radio" name="view" value="complete">Complete View
        </div>
        </form></li>
        
    {% endblock %}
        
    </ul>
    
    {% block content %}
    {% endblock %}
    {% block newlist %}
    {% endblock %}
</body>
</html>