{% include "base.html" %}

{% block content %}
    <div class="container">
        {% for list in lists %}
        <div class="card">
            <div class="nav-list">
                <div class="list-title">
                    <h2>{{ list.name }} </h2>
                </div>
                <div class="list-icons">
                    <a href="/{{list.id}}/newtask"><button class="card-btn m-fix"><span>+</span></button></a>
                    <form action="/{{list.id}}/deletelist" method="POST"><button class="card-btn"><img class="icon-task" src="/static/delete.svg"></button></form>
                </div>
            </div>
                <ul class="list">
                    {% if view == 'priority' %} 
                    {% for task in list.tasks | sort (attribute='priority')%}
                        <li class="item">
                            <span>{% if task.done %} <strike> {% endif %} {{task.priority}}</span><span> {{task.description}}</span> {% if task.done %} </strike>{% endif %}
                            <form action="/{{ list.id }}/{{ task.id }}/completetask" method="POST">
                                <button class="card-btn" type="submit" name="done" value="{{ task.id }}" value="{{ list.id }}"><img class="icon-task" src="/static/check.svg"></button> 
                                <button class="card-btn" type="submit" formaction="/{{ list.id }}/{{ task.id }}/deletetask" name="delete" value="{{ task.id }}" value="{{ list.id }}"><img class="icon-task" src="/static/delete.svg"></button>
                                <button class="card-btn" type="submit" formaction="/{{ list.id }}/{{ task.id }}/edittask" name="edit" value="{{ task.id }}" value="{{ list.id }}"><img class="icon-task" src="/static/edit.svg"></button>
                            </form>
                        </li>
                    {% endfor %}
                    {% else %}
                    {% for task in list.tasks | sort (attribute='done')%}
                        <li class="item">
                           <span>{% if task.done %} <strike> {% endif %} {{task.priority}}</span><span> {{task.description}}</span> {% if task.done %} </strike>{% endif %}
                            <form action="/{{ list.id }}/{{ task.id }}/completetask" method="POST">
                                <button title="mark as complete" class="card-btn" type="submit" name="done" value="{{ task.id }}" value="{{ list.id }}"><img class="icon-task" src="/static/check.svg"></button> 
                                <button title="delete task" class="card-btn" type="submit" formaction="/{{ list.id }}/{{ task.id }}/deletetask"  name="delete" value="{{ task.id }}" value="{{ list.id }}"><img class="icon-task" src="/static/delete.svg"></button>
                                <button title="edit task" class="card-btn" type="submit" formaction="/{{ list.id }}/{{ task.id }}/edittask" name="edit" value="{{ task.id }}" value="{{ list.id }}"><img class="icon-task" src="/static/edit.svg"></button>
                            </form>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul> 
        </div>     
        {% endfor %}
    </div>
{% endblock %}

